<!DOCTYPE html>
<html>
  <head>
    <!-- settings -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">

    <!-- title -->
    <title>
      <%= data.appName %>
      <% if (data.clientType !== data.defaultType) { %>
        | <%= data.clientType %>
      <% } %>
    </title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="<%= data.assetsDomain %>css/main.css?<%= data.version %>">
  </head>

  <body>
    <div id="container" class="container"></div>

    <!-- pass configuration to the client -->
    <script>
      window.soundworksConfig = JSON.parse('<%- JSON.stringify(data) %>');
    </script>

    <script src="<%= data.assetsDomain %>js/<%= data.clientType %>.js?<%= data.version %>"></script>
  </body>
</html>
